* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
}

body {
    color: white;
}

header {
    width: 100%;
    height: 50px;
    background-color: rgb(20, 98, 95);
    box-shadow: 0px 2px 3px black;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center
}

button {
    background-color: rgb(40, 141, 188);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 20px;
}

main {
    height: 100vh;
    text-align: center;
    background-image: url(1645036873_13-phonoteka-org-p-fon-gorod-risunok-14.jpg);
    background-size: cover;
    padding-top: 50px;
}

h1 {
    margin-bottom: 50px;
}

.form {
    width: 50%;
    /* border: 1px solid black; */
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 30px 30px 30px 30px 30px 30px auto 30px 30px;
    gap: 5px;
    text-align: left;
    align-items: flex-end;
}

.long1, .long2, .long3, .long4, .long5 {
    grid-column: 1 / span 3;
}

.long1 {       
    grid-row: 5;
}

.long2 {       
    grid-row: 6;
}

.long3 {
    grid-row: 7;
    padding-top: 8px;
}

.long4 {
    grid-row: 8;
}

.long5 {
    grid-row: 9;
    display: flex;
    align-items: center;
}

.long5 label {
    margin-left: 10px;
}

label {
    font-size: 0.7em;
    text-transform: uppercase;
}

.text-blue {
    color: rgb(40, 141, 188);
}

input, select {
    height: 30px;
    border-radius: 3px;
    border: none;
    color: black;
}

main button {
    margin-top: 30px;
}

@media only screen and (max-width: 700px) {
    .form {
        width: 90%;
    }
  }