@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
  }

  p {
    font-size: 14px;
  }
  
  a {
    text-decoration: none;
    font-weight: 700;
    color: rgba(36, 36, 77, 0.632);
  }

  i {
    font-size: 26px; 
    margin: 5px;   
}

.conteiner {
    display: flex
  }

  .left-panel { 
    width: 30%;
    height: 105vh;
    background-color: rgb(215, 215, 215);
    text-align: center;
  }

  .foto img{
    width: 100%;
    border-radius: 80px;
    object-fit: cover;
  }

  .foto {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 80px;
    display: block;
    margin: 100px auto 60px ;
  }

  .line, .line-big {
    background-color: black;
    height: 1px;
    width: 80%;
    display: block;
    margin: 10px auto;
  }

  .right-panel {
    margin-top: 20px;
    width: 70%;
    height: 100vh; 
    text-align: center;
  }

  .line-big {
    width: 90%;
  }

  .text {
    display: inline-block;
    width: 90%;
    text-align: left;
  }

  ul {
    column-count: 2;
    list-style-type: none;
  }
